@use "../abstract/" as *;
@use "sass:color";

.events {
  padding: 8rem 0;

  &__block__header {
    small {
      font-size: clamp(1.1rem, 6vw, 1.4rem);
      line-height: 1;
      letter-spacing: 2px;
      @include mediaQuery($tablet) {
        line-height: 1.2;
        letter-spacing: 1px;
        display: block;
      }
    }

    h2 {
      line-height: 0.8;
      margin-bottom: 1rem;
      @include mediaQuery($tablet) {
        line-height: 1.2;
      }
    }
  }

  &__wrapper {
    padding-top: 8rem;
    @include gridCustom(2fr 1fr, 5rem);
    @include mediaQuery($mobile) {
      @include grid(1, 2rem);
    }
  }

  &__medium__image {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    @include mediaQuery($mobile) {
      gap: 2rem;
    }
    img {
      @include imageCover(100%, 250px);
    }
  }
}

.elist {
  padding-bottom: 8rem;

  &__wrapper {
    @include grid(3, 3rem);
    margin-top: 8rem;
    @include mediaQuery($tablet) {
      @include grid(1, 2rem);
      margin-top: 4rem;
    }
  }
}
