@use "../abstract/" as *;
@use "sass:color";

.lspartner {
  padding: 8rem 0;
  @include mediaQuery($mobile) {
    padding: 4rem 0;
  }
  &__logo {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 8rem;
  }
}

.ls__about {
  background-color: $gray;
  padding: 8rem 0;
  @include mediaQuery($mobile) {
    padding: 4rem 0;
  }
  &__wrapper {
    @include grid(2, 5rem);
    @include mediaQuery($mobile) {
      @include grid(1, 5rem);
      margin: 4rem 0;
    }
  }

  &__image {
    img {
      @include imageCover(100%, 43rem);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    li {
      &:last-child {
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
          @include imageCover(2rem, 2rem);
        }
      }
    }
  }

  &__list {
    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__listitem {
    &--title {
      display: flex;
      gap: 2rem;
      align-items: center;
      margin-bottom: 1rem;
    }

    p {
      opacity: 0.7;
    }
  }
}

.ls__learn {
  padding: 8rem 0;

  &__wrapper {
    @include grid(2, 5rem);

    @include mediaQuery($mobile) {
      @include grid(1, 2rem);
      padding-left: 5rem;
    }
  }

  &__list {
    &--title {
      margin-bottom: 3rem;

      p {
        margin-bottom: 0.8rem;
      }

      h2 {
        line-height: 0.8;
        margin-bottom: 1rem;
        color: $accent;
        max-width: 50%;

        @include mediaQuery($tablet) {
          line-height: 1.2;
        }
      }

      small {
        font-size: clamp(1.1rem, 6vw, 1.4rem);
        line-height: 1;
        letter-spacing: 2px;

        @include mediaQuery($tablet) {
          line-height: 1.2;
          letter-spacing: 1px;
          display: block;
        }
      }
    }

    &--item {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 1rem;

      img {
        @include imageCover(2rem, 2rem);
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

.ls__requirements {
  min-height: 70rem;
  position: relative;
  margin-bottom: 8rem;
  @include mediaQuery($tablet) {
    margin-bottom: 18rem;
  }
  @include mediaQuery($mobile) {
    min-height: 30rem;
    margin-bottom: 4rem;
  }
  &__image {
    img {
      position: absolute;
      top: 0;
      right: 0;
      @include mediaQuery($tablet) {
        width: 100%;
      }
      @include mediaQuery($mobile) {
        width: 100%;
        position: static;
      }
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 70rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: $card-shadow;
    width: 100%;
    left: calc((100% - $container-width) / 2);
    padding: 3rem;
    background: rgba($light, 0.8);
    border-radius: 1rem;
    @include mediaQuery($tablet) {
      background: rgba($light, 0.9);
      position: static;
      top: 100%;
      transform: translateY(100%);
      margin: 0 auto;
      max-height: fit-content;
    }
    @include mediaQuery($mobile) {
      transform: translateY(0);
    }
    small {
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    h2,
    h5 {
      margin-bottom: 2rem;
    }

    a {
      align-self: flex-start;
      margin-top: 2rem;
    }

    &--item {
      @extend .ls__learn__list--item;
      margin-bottom: 0.5rem;
    }
  }
}

.ls__professionals {
  padding-bottom: 8rem;

  @include mediaQuery($mobile) {
    padding: 8rem 0;
  }

  &__block__header {
    small {
      font-size: clamp(1.1rem, 6vw, 1.4rem);
      line-height: 1;
      letter-spacing: 2px;
      @include mediaQuery($tablet) {
        line-height: 1.2;
        letter-spacing: 1px;
        display: block;
      }
    }

    h2 {
      line-height: 0.8;
      margin-bottom: 1rem;
      color: $accent;
      @include mediaQuery($tablet) {
        line-height: 1.2;
      }
    }
  }

  &__wrapper {
    margin-top: 3rem;
    @include grid(2, 2.5rem);
    @include mediaQuery($mobile) {
      @include grid(1, 3rem);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    @include mediaQuery($mobile) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    p {
      margin-bottom: unset;
    }
    img {
      @include imageCover(13rem, 13rem);
      border-radius: 100%;
    }
  }
}

.ls__batch {
  padding-bottom: 8rem;

  h2 {
    line-height: 0.8;
    margin-bottom: 1rem;
    color: $accent;
    @include mediaQuery($tablet) {
      line-height: 1.2;
    }
  }

  &__wrapper {
    @include grid(3, 3rem);
    margin-top: 8rem;
    @include mediaQuery($tablet) {
      @include grid(1, 2rem);
      margin-top: 4rem;
    }
  }

  &__card {
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    img {
      @include imageCover(100%, 540px);
      @include mediaQuery($mobile) {
        @include imageCover(100%, 250px);
      }
    }

    &--text {
      position: absolute;
      bottom: 9rem;
      max-width: 36rem;
      left: 2rem;
    }

    span {
      position: absolute;
      z-index: 20;
      display: block;
      background-color: color.adjust($gray, $lightness: 100%);
      color: $dark;
      bottom: 5rem;
      left: 0rem;
      padding: 0.5rem 2rem 0.5rem 2rem;
      font-size: 1.4rem;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }

    &:hover {
      span {
        background-color: $accent;
        color: $light;
        transition: all 0.5s ease;
      }
    }
  }
}
