@use "../abstract/" as *;

.header {
   padding: 2rem 0; 
   &__wrapper {
    @include flexBetween;
   }

   &__nav ul {
    display: flex;
    gap: 5rem;
    @include mediaQuery($tablet) {
      gap:2rem;
    }
    a {
       display: flex;
    gap: .5rem; 
    }
   }
}

