@use '../abstract/' as *;
@use 'sass:color';

.accordion.open {
   grid-template-rows: 4rem 1fr; 
 }

 .accordion {
    margin-bottom: 1rem;
    display: grid;
    grid-template-rows: 4rem 0fr;
    transition:  grid-template-rows .5s ease;
    &__header {
        &:hover {
            cursor: pointer;
            color: $accent
        }
        @include flexBetween;
            padding: 1rem 0;
            border-bottom: 1px solid $line;
        }

    &__body {
        overflow: hidden;
            p {
                padding: 1rem 0;
                opacity: 0.7;
                margin-bottom: 0;
            }
        }
    &__thumbnail {
        display: none;
    }
}