@use "../abstract/" as *;
@use "sass:color";

.events__card {
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
  img {
    @include imageCover(100%, 540px);
    @include mediaQuery($mobile) {
      @include imageCover(100%, 250px);
    }
  }
  h4 {
    position: absolute;
    bottom: 9rem;
    max-width: 36rem;
    left: 2rem;
  }
  span {
    position: absolute;
    z-index: 20;
    display: block;
    background-color: color.adjust($gray, $lightness: 100%);
    color: $dark;
    bottom: 4rem;
    left: 0rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 1.4rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
}
