$accent: #ac1e72;
$green: #358a8e;
$light: #fff;
$gray: #f7f8fa;
$light-100: #F9FAFB;
$dark: #000;
$line: #e9e9e9;

$container-width: 144rem;

$border-opacity: 0.2;

$tablet: 80rem;
$mobile: 45rem;


$body:#515151;
$font-semibold: 'poppins-semibold';

$card-shadow:3px 3px 5px rgba($dark, 0.02)